requirements.txt
.vscode
wandb/
all_dataset/
MSR_20_Code_vulnerability_CSV_Dataset/
#results/
datasets/reasoning_data
.idea
.env
.run
.cursor
.DS_Store
vulscan/test/test_trained_model.py
*__pycache__*
*egg-info*
*codeqldb*
/results/codeql_result/
/results/improved_data/
/results/new_test_data/
/results/one_of_4/
/results/test_data/
**/*.db
/datasets/repoaudit_targets/
/demo/backend/logs/
/plots/results/
